extends layout

block append head
  script(type='text/javascript' src='/javascripts/enviroment.js')
  script(type='text/javascript' src='/javascripts/game.js')

block content
  div(class='thirth')
    div#oponent_grid(class='clearfix')
    div#turn(class='turn') Your turn
  div(class='thirth')
    div#terminal2(class="clearfix")
      h1 game messages
      h3 you'r last result:
      div#game_messages
      h3 opponent calls:
      div#attacks
      h3 oponent result:
      div#result
  div(class='thirth')
    div#own_grid(class='clearfix')
    div#Oturn(class='turn hidden') Opponent's turn
  div#chatcontainer2
      div#messages
      input(type="text" id="message" placeholder="your message")
   div#create &copy; Created by 
              a(href="http://www.pni-design.be") peter nieuwenhuyse
    
   
  