extends layout

block append head
  script(type='text/javascript' src='/javascripts/landing.js');
block content
  div#gameinfo(class='clearfix')
    div#pirateimg
      img(src="images/female_pirate.png" alt="female pirate")
    div#terminal(class="clearfix")
      h1 Welcome
      p. 
        |You're not a moment to soon.... </br>
        |Enemy fleets are invading our territorial waters</br>
        |In order for our fleet to follow your commands, </br> 
        |we first need to set a username:
      span 
        input#username(type="text" autofocus=true) 
    div#col2(class='half clearfix')
      div#grid
  div#shipcontainer(class='clearfix')
    div#orientation
      div#horizontal(class='selectable_div')
        a(href='' class='horizontal active') horizontal
      div#vertical(class='selectable_div')
        a(href='' class='vertical') vertical
    div#ships
      div(class='choise')
        a(href='' id='Carrier' class='ship') Royal Flagship </br>
          p XXXXX
      div(class='choise')
        a(href='' id='Battleship' class='ship') The Interceptor </br>
          p XXXX
      div(class='choise')
        a(href='' id='Cruiser' class='ship') Merchant Ship </br>
          p XXX
      div(class='choise')
        a(href='' id='Submarine' class='ship') Nautilus </br>
          p XXX
      div(class='choise') 
        a(href='' id='Destroyer' class='ship') Gallion </br>
          p XX
